<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="tudo">
    <div class="retanguloRGB">
        <div class="retangulopreto">
            <div class="containerIcone2" (click)="router.navigate(['/loja'])">
                <div class="IconeVoltar">
                    <span class="material-icons">
                reply
                </span>
                </div>
            </div>
            <div class="containerPalavra">
                <div class="textoProdutos">
                    Clientes
                </div>
            </div>
            <div class="BotaoAdicionar" (click)="router.navigate(['/clientes/novo'])">
                <div class=" containerBotao ">
                    <div class="PalavraAdd ">
                        Add
                    </div>
                    <div class="containerIcone ">
                        <div class="iconeAdicionar ">
                            <span class="material-icons ">
                              add
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <div class="containerproduto">
            <div *ngFor="let cliente of clientes;let i=index" class="produto">
                <div class="palavraNome">
                    {{cliente.nome}}
                </div>
                <div class="palavraPreco">
                    <strong>{{cliente.sobrenome}}</strong>
                </div>
                <div class="EdicaoExclir">
                    <div class="containerIcone3" (click)="router.navigate(['/clientes',i +1])">
                        <div class="iconeLapis">
                            <span class="material-icons">
                      edit
                      </span>
                        </div>
                    </div>
                    <div class="containerIcone4" (click)="removerCliente(i)">
                        <div class="iconeLixeira">
                            <span class="material-icons">
                      delete
                      </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>