<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="tudo">
    <div class="retanguloRGB">
        <div class="retangulopreto">
            <div class="containerIcone2" (click)="router.navigate(['/loja'])">
                <div class="IconeVoltar">
                    <span class="material-icons">
                reply
                </span>
                </div>
            </div>
            <div class="containerPalavra">
                <div class="textoProdutos">
                    Pedidos
                </div>
            </div>
            <div class="BotaoAdicionar" (click)="router.navigate(['/pedidos/novo'])">
                <div class=" containerBotao ">
                    <div class="PalavraAdd ">
                        Add
                    </div>
                    <div class="containerIcone ">
                        <div class="iconeAdicionar ">
                            <span class="material-icons ">
                              add
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <div class="produto">
            <div *ngFor="let pedido of pedidos;let i=index " class="containerproduto">
                <div class="ladoAlado">
                    <div class="JuntarProduto">
                        <div class="palavraproduto">
                            Produto
                        </div>
                        <div class="palavraNome">
                            {{pedido.nomeProduto}}
                        </div>
                        <div class="palavracliente">
                            Cliente
                        </div>
                        <div class="palavraNome">
                            {{pedido.nomeCliente}}
                        </div>
                        <div class="EdicaoExclir">
                            <div class="containerIcone3" (click)="router.navigate(['/pedidos',i + 1])">
                                <div class="iconeLapis">
                                    <span class="material-icons">
                                  edit
                                  </span>
                                </div>
                            </div>
                            <div class="containerIcone4" (click)="removerProduto(i)">
                                <div class="iconeLixeira">
                                    <span class="material-icons">
                                  delete
                                  </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>