<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="Tudo">
  <div class="Container">
    <div class="retanguloRGB">
      <div class="retangulopreto">
        <div class="containerIcone2" (click)="router.navigate(['/produtos'])">
          <div class="IconeVoltar">
            <span class="material-icons">
              reply
            </span>
          </div>
        </div>
        <div class="containerPalavra">
          <div class="textoProdutos">
            Cadastrar Produto
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="TudoContainerADD">
    <div class="ContainerADD">
      <div class="InputNome">
        <input placeholder="Nome" [(ngModel)]="name" />
      </div>
      <div class="InputPreco">
        <input placeholder="Preço" [(ngModel)]="price" type="number" />
      </div>
      <div class="BotaoCadastro">
        <button (click)="cadastrar()">
          <span *ngIf="id == 'novo'">
            cadastrar
          </span>
          <span *ngIf="id != 'novo'">
            Editar
          </span>
        </button>
      </div>
    </div>
  </div>
</div>