<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="Tudo">
    <div class="Container">
        <div class="retanguloRGB">
            <div class="retangulopreto">
                <div class="containerIcone2" (click)="router.navigate(['/clientes'])">
                    <div class="IconeVoltar">
                        <span class="material-icons">
                            reply
                        </span>
                    </div>
                </div>
                <div class="containerPalavra">
                    <div class="textoCadastro">
                        Cadastrar Clientes
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="TudoContainerADD">
        <div class="ContainerRGB">
            <div class="ContainerADD">
                <div class="ContainerJunto">
                    <div class="InputNome">
                        <div class="IconePerson">
                            <span class="material-icons">
                               person_outline
                            </span>
                        </div>
                        <input class="InputName" placeholder="Nome" [(ngModel)]="name" />
                    </div>
                    <div class="InputSobrenome">
                        <div class="IconeBagagem">
                            <span class="material-icons">
                                badge
                            </span>
                        </div>
                        <input class="InputSobrenome" placeholder="Sobrenome" [(ngModel)]="surname" />
                    </div>
                    <div class="BotaoCadastro">
                        <button (click)="cadastrar()" *ngIf="id == 'novo'">
                            <span class="Button">
                                Cadastrar
                            </span>
                        </button>
                        <button (click)="editar()" *ngIf="id != 'novo'">
                            <span class="Button" >
                                Editar
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>