<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="Tudo">
    <div class="Container">
        <div class="retanguloRGB">
            <div class="retangulopreto">
                <div class="containerIcone2" (click)="logout()">
                    <div class="IconeVoltar">
                        <span class="material-icons">
                          logout
                        </span>
                    </div>
                </div>
                <div class="containerPalavra">
                    <div class="textoProdutos">
                        Fury Store
                    </div>
                </div>
                <div class="BotaoAdicionar" (click)="router.navigate(['/carrinho'])">
                    <div class=" containerBotao ">
                        <div class="containerIcone ">
                            <div class="iconeAdicionar ">
                                <span class="material-icons ">
                                  shopping_cart
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <div class="containerproduto">
            <div *ngFor="let produto of produtos;let i=index " class="produto">
                <div class="imagem">
                    <img src={{produto.imagem}}>
                </div>
                <div class="palavraNome">
                    {{produto.nome}}
                </div>
                <div class="palavraPreco">
                    <strong>R$ {{produto.valor}}</strong>
                </div>
                <div class="EdicaoExclir">
                    <div class="containerIcone3" (click)="cadastrarCarrinho(i)">
                        <div class="iconeLapis" title="Adicionar ao Carrinho!">
                            <span class="material-icons">
                              add_shopping_cart
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>