<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="Tudo">
    <div class="Container">
        <div class="retanguloRGB">
            <div class="retangulopreto">
                <div class="containerIcone2" (click)="router.navigate(['/menu'])">
                    <div class="IconeVoltar">
                        <span class="material-icons">
                          reply
                        </span>
                    </div>
                </div>
                <div class="containerPalavra">
                    <div class="textoProdutos">
                        Carrinho
                    </div>
                </div>
                <div class="BotaoAdicionar" (click)="comprar()">
                    <div class=" containerBotao ">
                        <div class="containerIcone ">
                            <div class="iconeAdicionar ">
                                <button class="BotaoComprar">FINALIZAR <br/>COMPRA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <div class="containerproduto">
            <div *ngFor="let car of carrinho;let i=index " class="produto" #mudarCor>
                <div class="containerIcone3" title="Selecionar Produto!">
                    <input class="CheckBox" (click)="selecionarProduto(i)" type="checkbox" value="on">
                </div>
                <div class="imagem">
                    <img src={{car.imagem}}>
                </div>
                <div class="palavraNome">
                    {{car.nome}}
                </div>
                <div class="palavraPreco">
                    <strong>R$ {{car.valor}}</strong>
                </div>
                <div class="InputQTD">
                    <input [(ngModel)]='quantidade' type="number" class="InputQuantidade">
                </div>
                <div class="EdicaoExclir">
                    <div class="containerIcone3" (click)="removerCarrinho(i)">
                        <div class="iconeLapis" title="Remover do Carrinho!">
                            <span class="material-icons">
                                remove_shopping_cart 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>