<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="Tudo">
    <div class="Container">
        <div class="retanguloRGB">
            <div class="retangulopreto">
                <div class="containerIcone2" (click)="router.navigate(['/menu'])">
                    <div class="IconeVoltar">
                        <span class="material-icons">
                          reply
                        </span>
                    </div>
                </div>
                <div class="containerPalavra">
                    <div class="textoProdutos">
                        Carrinho
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>