<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="Tudo">
    <div class="Degrade">
        <div class="CadastroInfos">
            <p class="CadastroPalavra">
                Cadastro!
            </p>
            <p class="UsernamePalavra">
                Nome de usuário:
            </p>
            <div class="user">
                <div class="IconeUser">
                    <span class="material-icons">
                        person
                    </span>
                </div>
                <div class="InputUser">
                    <input placeholder="Nome" [(ngModel)]='user'>
                </div>
            </div>
            <div class="user">
                <div class="IconeUser">
                    <span class="material-icons">
                        person
                    </span>
                </div>
                <div class="InputSobrenome">
                    <input placeholder="Sobrenome" [(ngModel)]='sobrenome'>
                </div>
            </div>

            <p class="PasswordPalavra">
                Senha:
            </p>
            <div class="password">
                <div class="IconePassword">
                    <span class="material-icons">
                    lock
                    </span>
                </div>
                <div class="InputPassword">
                    <input placeholder="Password" [(ngModel)]='password' type="password">
                </div>
            </div>
            <p class="PasswordPalavra">
                Repita a senha:
            </p>
            <div class="password">
                <div class="IconePassword">
                    <span class="material-icons">
                    lock
                    </span>
                </div>
                <div class="InputPasswordRepetido">
                    <input placeholder="Password" [(ngModel)]='passwordrepetido' type="password">
                </div>
            </div>
            <div class="BotaoCadastro">
                <button (click)="cadastrar()">Cadastrar</button>
            </div>
            <div class="BotaoLogar">
                <button (click)="logarse()">Já tem cadastro? Logar-se</button>
            </div>
        </div>
    </div>
</div>