<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div class="Tudo">
    <div class="Container">
        <div class="retanguloRGB">
            <div class="retangulopreto">
                <div class="containerIcone2" (click)="router.navigate(['/pedidos'])">
                    <div class="IconeVoltar">
                        <span class="material-icons">
              reply
            </span>
                    </div>
                </div>
                <div class="containerPalavra">
                    <div class="textoProdutos">
                        Cadastrar Pedidos
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="TudoContainerADD">
        <div class="ContainerRGB">
            <div class="ContainerADD">
                <div class="ContainerJunto">
                    <div class="InputNome">
                        <div class="IconePerson">
                            <span class="material-icons">
                               person_outline
                            </span>
                        </div>
                        <div *ngIf="clientes.length > 0">
                            <select [(ngModel)]="clienteId">
                            <option *ngFor="let cliente of clientes;let i = index" value='{{i}}'>
                                {{cliente.nome}} {{cliente.surname}}
                            </option>
                          </select>
                        </div>
                    </div>
                    <div class="inputprodutos">
                        <div class="IconePerson">
                            <span class="material-icons">
                                shopping_cart
                            </span>
                        </div>
                        <div *ngIf="produtos.length > 0">
                            <select class="INPUTproduto" [(ngModel)]="listaProdutosId">
                            <option *ngFor="let produto of produtos;let i = index" value='{{i}}'>{{produto.nome}}</option>
                          </select>
                        </div>
                    </div>
                    <div class="textoEndereco">
                        Endereço:
                    </div>
                    <div class="inputEndereco1">
                        <div class="inputpais">
                            <div class="textoPais">
                                País
                            </div>
                            <input class="InputDoPais" placeholder="País" [(ngModel)]='pais'>
                        </div>
                        <div class="inputestado">
                            <div class="textoEstado">
                                Estado
                            </div>
                            <input class="InputDoEstado" placeholder="Estado" [(ngModel)]='estado'>
                        </div>
                        <div class="inputcidade">
                            <div class="textoCidade">
                                Cidade
                            </div>
                            <input class="InputDaCidade" placeholder="Cidade" [(ngModel)]='cidade'>
                        </div>
                    </div>
                    <div class="inputEndereco2">
                        <div class="inputbairro">
                            <div class="textoBairro">
                                Bairro
                            </div>
                            <input class="InputDoBairro" placeholder="Bairro" [(ngModel)]='bairro'>
                        </div>
                        <div class="inputrua">
                            <div class="textoRua">
                                Rua
                            </div>
                            <input class="InputDaRua" placeholder="Rua" [(ngModel)]='rua'>
                        </div>
                        <div class="inputnumero">
                            <div class="textoNumero">
                                Número
                            </div>
                            <input class="InputDoNumero" placeholder="Numero" [(ngModel)]='numero'>
                        </div>
                    </div>
                    <div class="inputEndereco3">
                        <div class="inputcomplemento">
                            <div class="textoComplemento">
                                CEP
                            </div>
                            <input class="InputDoComplemento" placeholder="CEP" [(ngModel)]='cep'>
                        </div>
                    </div>

                    <div class="BotaoCadastro">
                        <button (click)="cadastrar()" *ngIf="id == 'novo'">
                            <span class="Button">
                                cadastrar
                            </span>
                        </button>
                        <button (click)="editar()" *ngIf="id != 'novo'">
                            <span class="Button">
                                Editar
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>